---
layout: default
title: Welcome
hide_title: true
---
</div>
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				    <h3>
            		  <a href="https://twitter.com/{{ site.owner.twitter }}" title="Twitter - {{ site.owner.twitter }}" style="color:white"><i class="fa fa-twitter"></i></a>
 		 	          &nbsp;
 		 	          <a href="https://github.com/{{ site.owner.github }}" title="GitHub - {{ site.owner.github }}" style="color:white"><i class="fa fa-github"></i></a>
 		 	          &nbsp;
 		 	          <a href="mailto:{{ site.owner.email }}" title="Email {{ site.owner.email }}" style="color:white"><i class="fa fa-pencil-square-o"></i></a>
 		 	        </h3>
					<h1>Dr.&nbsp;Andrew Jackson</h1>
					<h5><a title="Geek" style="color:white">Data Scientist &mdash; Technical Architect &mdash; Software Developer</a></h5>
					<h5>&nbsp;</h5>
				</div>
				<!--
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="{{ site.baseurl }}/assets/img/browser.png" class="img-responsive">
				</div>
				-->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
 					<i class="fa fa-area-chart"></i>
 					<h4>Data Mining &amp;<br/>Information Science</h4>
 					<!-- <p></p> -->
 					<p><!-- br/--><a href="{{ site.baseurl }}/work/data-mining/" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
 					<i class="fa fa-archive"></i>
 					<h4>Web Archiving &amp;<br/>Digital Preservation</h4>
 					<!-- <p></p> -->
 					<p><!-- br/--><a href="{{ site.baseurl }}/work/digital-preservation/" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
 					<i class="fa fa-code-fork"></i>
 					<h4>Large-Scale System<br/>Design &amp; Development</h4>
 					<!-- <p></p> -->
 					<p><!-- br/--><a href="{{ site.baseurl }}/work/development/" class="btn btn-theme">More Info</a></p>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->

	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->

	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-md-8 col-md-offset-2">
	 			<i class="fa fa-code"></i>
	 {% if page.includer == true %}
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	 			<h4><br/>Marcel Newman</h4>
	 			<p>WEB DESIGNER - BLACKTIE.CO</p>
	 {% endif %}
	 			</div>
	 		</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/twrap -->
	
	 
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-sm-4">
		 		<h4>About Me</h4>
		 		<p>
  			 		<img src="{{ site.owner.avatar }}" class="img-responsive img-circle avatar"/>
		 		</p>
		 		<p>As the Web Archiving Technical Lead at the British Library, I hold overall responsibility for the technical aspects of the ingest, indexing, discovery and access systems associated with the UK Web Archive.
		 		</p>
 				<p><a href="about.html" class="btn btn-theme">More</a></p>
	 		</div>
	 		
	 		<div class="col-sm-4">
   		 		{% include _recent_posts_block.html %}
	 		</div>
	 		
	 		<div class="col-sm-4">
   		 		{% include _categories_block.html %}
	 		</div>
	 		
	 	</div><!--/row -->
	 </div><!--/container -->
	 
{% if page.includer == true %}
	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-md-8 col-md-offset-2">
	 			<i class="fa fa-comment-o"></i>
	 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	 			<h4><br/>Marcel Newman</h4>
	 			<p>WEB DESIGNER - BLACKTIE.CO</p>
	 			</div>
	 		</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/twrap -->
	 
	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->
	 <div id="cwrap">
		 <div class="container">
		 	<div class="row centered">
			 	<h3>CLIENTS</h3>
			 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			 		<img src="{{ site.baseurl }}/assets/img/clients/client01.png" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			 		<img src="{{ site.baseurl }}/assets/img/clients/client02.png" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			 		<img src="{{ site.baseurl }}/assets/img/clients/client03.png" class="img-responsive">
			 	</div>
			 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			 		<img src="{{ site.baseurl }}/assets/img/clients/client04.png" class="img-responsive">
			 	</div>
		 	</div><!--/row -->
		 </div><!--/container -->
	 </div><!--/cwrap -->
{% endif %}

<div>