{% if include.cat %}
 {% assign curcat=include.cat | downcase %}
{% else %}
 {% assign curcat="general" %}
{% endif %}
{% assign failed=true %}
{% for cat in site.cats %}
{% assign testcat = cat.name | downcase %}
{% if curcat == testcat %}
{% assign failed=false %}
{% if cat.page %}
<a href="{{ site.baseurl }}{{ cat.page }}" title="{{ cat.name }}">{{ cat.name }}</a>
{% else %}
<a href="{{ site.baseurl }}/blog/categories/#{{ cat.name | downcase | replace: ' ','' }}" title="{{ cat.name }}">{{ cat.name }}</a>
{% endif %}
{% endif %}
{% endfor %}
{% if failed == true %}
{{ curcat }}
{% endif %}