{% if include.cat %}
 {% assign curcat=include.cat %}
{% else %}
 {% assign curcat="General" %}
{% endif %}
{% for cat in site.cats %}
{% if cat.name == curcat %}
{% if cat.page %}
<a href="{{ site.baseurl }}{{ cat.page }}" title="{{ cat.name }}">
<i class="fa {{ cat.icon }} category-icon"></i>
</a>
{% else %}
<a href="{{ site.baseurl }}/blog/categories/#{{ cat.name | downcase | replace: ' ','' }}" title="{{ cat.name }}">
<i class="fa {{ cat.icon }} category-icon"></i>
</a>
{% endif %}
{% endif %}
{% endfor %}