<div class="row">
{% for page in site.pages %}
{% if page.type == 'project' and page.tags contains include.kind %}

<div class="col-xs-12 col-sm-6 col-md-6 project-box" style="padding:0;">
<a href="{{ site.baseurl }}{{ page.url }}">
<div class="project-box-bg" style="width: 100%; height: 300px; background-image: url('{{ site.baseurl }}{{ page.screenshot }}');">
<div class="project-box-gap" style="width: 100%; height: 100px; background-color: rgba(0,179,254,0.75);">
</div>
<div class="project-box-title" style="width: 100%; height: 100px; background-color: rgba(0,179,254,0.98);">
{{ page.title }}
<i class="fa {{ page.fa-icon }}"></i>
<p>
{{ page.summary }}
</p>
</div>
<div class="project-box-gap" style="width: 100%; height: 100px; background-color: rgba(0,179,254,0.75);">
</div>
</div>
</a>
</div>

{% endif %}
{% endfor %}
</div>