{% if include.post %}
 {% assign tagstr=include.post.tags | first %}
{% else %}
 {% assign tagstr="General" %}
{% endif %}

{% assign cat = site.data.tags[tagstr] %}

{% if cat.page %}
<a href="{{ site.baseurl }}{{ cat.page }}" title="{{ tagstr }}">
{% if cat.icon %}
<i class="fa {{ cat.icon }} category-icon"></i>
{% else %}
<i class="fa fa-share-alt category-icon"></i>
{% endif %}
</a>
{% else %}
<a href="{{ site.baseurl }}/blog/tags/#{{ tagstr }}" title="{{ tagstr }}">
{% if cat.icon %}
<i class="fa {{ cat.icon }} category-icon"></i>
{% else %}
<i class="fa fa-share-alt category-icon"></i>
{% endif %}
</a>
{% endif %}
