---
layout: blog
title: <a href="/feed.xml" class="title-rss"><i class="fa fa-rss"></i></a>Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
{% if post.shown != false %}
  <article>
    {% if page.images %}
      <p><img class="img-responsive" src="{{ site.baseurl }}/{{ page.images[0]['src'] }}"></p>
    {% endif %}
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><h3 class="ctitle">{{ post.title }}</h3></a>
      {% include _cat_icon.html cat=post.category %}
      <p><csmall>Posted: {{ post.date | date:"%Y-%m-%d" }} | </csmall><csmall2> {{ post.author }}</csmall2></p>
      <p>
        {% if post.description %}{{ post.description }}{% else %}{{ post.content | split:"<!--break-->" | first | truncatewords: 200 }}{% endif %}
      </p>
      <p><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">[Read More]</a></p>
      {% include _tags.html page=post%}
      <div class="hline"></div>
        
      {% if forloop.last != true %}
      <div class="spacing"></div>
      {% endif %}
  </article>
{% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/blog/" class="previous btn btn-theme">Previous</a>
    {% else %}
      <a href="/blog/page-{{ paginator.previous_page }}" class="previous btn btn-theme">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous btn btn-theme disabled">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page-{{ paginator.next_page }}" class="next btn btn-theme">Next</a>
  {% else %}
    <span class="next btn btn-theme disabled">Next</span>
  {% endif %}
</div>
