<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

    <title>{{ page.title | strip_html }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li{% if page.url contains "/about/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/about/">ABOUT</a></li>
            <li{% if page.url contains "/blog/" or page.active == "blog" %} class="active"{% endif %}><a href="{{ site.baseurl }}/blog/">BLOG</a></li>
            <li {% if page.url contains "/work/"%} class="dropdown active"{% else %}class="dropdown"{% endif %}>
              <a href="{{ site.baseurl }}/work/" class="dropdown-toggle" data-toggle="dropdown">WORK <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li{% if page.url contains "/work/data-mining/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/data-mining/">DATA MINING</a></li>
                <li{% if page.url contains "/work/digital-preservation/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/digital-preservation/">DIGITAL PRESERVATION</a></li>
                <li{% if page.url contains "/work/development/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/development/">DEVELOPMENT</a></li>
                <li class="divider"></li>
                <li{% if page.url contains "/work/physics/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/physics/">COMPUTATIONAL PHYSICS</a></li>
                <li{% if page.url contains "/work/publications/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/publications/">PUBLICATIONS</a></li>
                <li{% if page.url contains "/work/websites/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/work/websites/">WEBSITES</a></li>
              </ul>
            </li>
            <li{% if page.url contains "/projects/"%} class="active"{% endif %}><a href="{{ site.baseurl }}/projects/">PROJECTS</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
{%if page.title and page.hide_title != true %}
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>{% if page.parent %}<span class="parent-link"><a href="{{ page.parent_link }}">{{ page.parent }}</a>&nbsp;<i class="fa fa-angle-right"></i> </span>{% endif %}{{ page.title }}</h3>
        {% if page.subtitle or page.date %}
        <h4 class="subtitle">
        {% if page.date %}{{ page.date | date:"%Y-%m-%d" }}{% endif %}{% if page.subtitle and page.date %} | {% endif %}{{ page.subtitle }}
        </h4>
        {% endif %}
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
{% endif %}
	 
  {{ content }}

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-md-4 col-sm-12 col-xs-12">
		 			<h4>{{ site.description }}</h4>
		 			<div class="hline-w"></div>
          <a href="{{ site.baseurl }}/feed.xml" style="float:right; color: white;"><i class="fa fa-rss"></i></a>
		 			<p>&copy; Dr Andrew N. Jackson &mdash; <a style="color: white" title="Share &amp; Enjoy &mdash; CC-BY" href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></p>
		 		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
		 			<h4>Elsewhere</h4>
		 			<div class="hline-w"></div>
		 			<p>
            <a href="https://github.com/{{ site.owner.github }}" title="GitHub"><i class="fa fa-github"></i></a>
            <a href="http://qanda.digipres.org/user/anjackson" title="DigiPres Q&amp;A"><i class="fa fa-question-circle"></i></a>
            <a href="http://stackoverflow.com/users/{{ site.owner.stackoverflow }}" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
            <a href="http://www.slideshare.net/andrewnjackson" title="SlideShare"><i class="fa fa-slideshare"></i></a>
            <a href="https://speakerdeck.com/anjackson" title="Speaker Deck"><i class="fa fa-caret-square-o-right"></i></a>
		 			</p>
		 		</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
		 			<h4>Contact</h4>
		 			<div class="hline-w"></div>
		 			<p>
            <a href="https://twitter.com/{{ site.owner.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="mailto:{{ site.owner.email }}" title="Email"><i class="fa fa-pencil-square-o"></i></a>
            <a href="skype:{{ site.owner.skype }}?chat&amp;topic=Hello" title="Skype"><i class="fa fa-skype"></i></a>
            <a href="http://uk.linkedin.com/in/{{ site.owner.linkedin }}/" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="https://plus.google.com/+{{ site.owner.google_plus }}"><i class="fa fa-google-plus"></i></a>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 
    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/assets/js/modernizr-2.7.1.custom.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/retina-1.1.0.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.hoverdir.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.hoverex.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="{{ site.baseurl }}/assets/js/jquery.isotope.min.js"></script>
  	<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
  <!-- Google Analytics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56219-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
