---
layout: default
---

	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 	<div class="row">
	 	
	 		<!-- BLOG POSTS LIST -->
	 		<div class="col-xs-12 col-sm-8 col-md-8" id="blog-container">

		 		  {{ content }}

			</div><!--/col-lg-8 -->
	 		
	 		
	 		<!-- SIDEBAR -->
	 		<div class="col-xs-12 col-sm-4 col-md-4">
	 		
   		 		{% include _recent_posts_block.html posts=site.posts %}
  
   		 		{% include _tags_block.html %}

   		 		{% include _categories_block.html %}

	 		</div>
	 	</div><!--/row -->
