---
layout: blog
active: blog
parent: Blog
parent_link: /blog/
---

<article>
  {% include _tag_icon.html post=page %}

  {{ content }}

{% assign first_tag = page.categories | first %}
{% if first_tag %}
{% assign tagged_posts = site.categories[first_tag] %}
{% assign sorted_posts = tagged_posts | sort:"path" %}

{% assign go_next = false %}
{% for post in sorted_posts %}

{% if go_next %}
<a class="btn btn-theme pull-right" href="{{ post.url }}" title="Next post in this series: {{ post.title }}">Next in series: {{ post.title  | truncate: 25 }} &raquo;</a>
{% assign go_next = false %}
{% endif %}

{% if post.url == page.url %}
{% assign go_next = true %}
{% endif %}

{% endfor %}

{% assign go_next = false %}
{% for post in sorted_posts reversed %}

{% if go_next %}
<a class="btn btn-theme pull-left" href="{{ post.url }}" title="Previous post in this series: {{ post.title }}">&laquo; Previous in series: {{ post.title  | truncate: 25 }}</a>
{% assign go_next = false %}
{% endif %}

{% if post.url == page.url %}
{% assign go_next = true %}
{% endif %}

{% endfor %}

<div class="clearfix"></div>
{% endif %}

  {% if page.tags.size > 0 %}
  <hr/>
  {% include _tags.html page=page %}
  {% endif %}

</article>

<div id="page-navigation">
    <div class="clear">&nbsp;</div>
        <div class="pull-left">
        {% if page.previous.url %}
        {% if page.previous.shown != false %}
                <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% endif %}
        </div>

        <div class="pull-right">
        {% if page.next.url %}
        {% if page.next.shown != false %}
                <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
        {% endif %}
        </div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
</div>

{% include _disqus_comments.html %}

		 		
