---
layout: base
---

  <div class="container">
   
  {{ content }}

  {% if page.date %}
  <hr/>
  <p>Posted: {{ page.date | date:"%Y-%m-%d" }} | {{ page.author }}</p>
  {% endif %}

  {% if page.attachments %}
  <table class="table">
  <thead>
  <tr><th>Attachments</th></tr>
  </thead>
  <tbody>
  {% for attached in page.attachments %}
  <tr><td><a href="{{ site.baseurl }}/{{ attached.src }}" alt="Download {{ attached.name }}.">{{ attached.name }}<span class="pull-right"><i class="fa fa-download"></i></a></span></td></tr>
  {% endfor %}
  </tbody>
  </table>
  {% endif %}

  <p>&nbsp;</p>

  </div><!--/container -->
