---
title: Images
layout: default
permalink: /img-n/
---

<div class="row image-gallery">
{% for tag in site.data.image_tags %}

{% if tag[':promoted'] %}

<div class="col-md-3 image-col">
{% assign no_image_found = true %}
{% for page in site.pages %}
{% if no_image_found == true and page.type == 'image' and page.tags contains tag[':name'] %}
{% for im in page.images %}
<a href="{{ site.baseurl }}/img-n/tags/{{ tag[':slug'] }}/">
<img src="{{ site.baseurl }}/{{ im['src'] }}" alt="{{ im['name'] }}" class="img-responsive img-thumbnail"/>
</a>
{% endfor %}
{% assign no_image_found = false %}
{% endif %}
{% endfor %}

<br/>{{ tag[':name'] }}
</div>

{% endif %}

{% endfor %}
</div>